fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
.contact-form input[type="email"], 
.contact-form textarea {
    border: none;
    border-bottom: 2px solid #222;
    border-radius: 0;
    padding: 12px 0 6px 0;
    outline: none;
    width: 100%;
    font-size: 18px;
}

.input-group {
	margin-bottom: 15px;
}
.contact-form input, .intro .contact-form textarea {
    webkit-appearance: none;
    appearance: none;
    outline: none;
    margin: 0;
}
.contact-form input[type="submit"] {
    -webkit-appearance: none;
    border: 2px solid #000;
    appearance: none;
    line-height: 1.2em !important;
    margin-right: 12px;
    color: #fff !important;
    background: #000 !important;
}
.contact-form input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
    padding: 0.5em 0.52173913043478em;
    line-height: 1.5em;
    text-transform: uppercase;
    background-color: transparent;
    color: #333;
    width: auto;
    cursor: pointer;
}