ul,ol {
    padding: 0;
}
.list-inline,
.list-unstyled {
	list-style: none;
}
.list-inline li {
	padding: 0 5px;
    display: inline-block;
}
.tech-list {
  margin-top: 10px;
}
.outline-list {
  margin-left: 10px;
}
.hr-full {
    width: 100%;
    background-color: #eee;
    margin: 2em 0;
    height: 1px;
    border: 0;
}

.wrap {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}
.screen-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.strong {
  font-weight: 800;
}